# Obtenemos los datos
## Trabajando con un video de youtube

In [22]:
import pandas as pd  # Importamos la biblioteca pandas para trabajar con datos estructurados como DataFrames.
import numpy as np  # Importamos la biblioteca numpy para realizar operaciones matemáticas y de álgebra lineal.
import os as os  # Importamos la biblioteca os para interactuar con el sistema operativo.

# Carga un archivo CSV llamado 'data/pima-indians-diabetes.csv' en un DataFrame de pandas.
filename = 'data/pima-indians-diabetes.csv'
names = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']
df = pd.read_csv(filename, names=names)  # Lee el archivo CSV y asigna nombres a las columnas.

# Muestra las primeras 5 filas del DataFrame para inspeccionar los datos.
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,627.0,50,1
1,1,85,66,29,0,26.6,351.0,31,0
2,8,183,64,0,0,23.3,672.0,32,1
3,1,89,66,23,94,28.1,167.0,21,0
4,0,137,40,35,168,43.1,2288.0,33,1

In [23]:
# Filtramos las filas del DataFrame donde la columna 'Outcome' es igual a 1 (diabetes positiva)
# y genera estadísticas descriptivas (como media, desviación estándar, etc.) para estas filas.
df[df['Outcome'] == 1].describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.0
mean,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,510.316343,37.067164,1.0
std,3.741239,31.939622,21.491812,17.679711,138.689125,7.262967,372.906164,10.968254,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.150000,21.000000,1.0
25%,1.750000,119.000000,66.000000,0.000000,0.000000,30.800000,254.000000,28.000000,1.0
50%,4.000000,140.000000,74.000000,27.000000,0.000000,34.250000,422.500000,36.000000,1.0
75%,8.000000,167.000000,82.000000,36.000000,167.250000,38.775000,719.500000,44.000000,1.0
max,17.000000,199.000000,114.000000,99.000000,846.000000,67.100000,2288.000000,70.000000,1.0